*{

       font-family:'Times New Roman', Times, serif;
}
body {

       font-family: Arial, sans-serif;
       padding: 20px;
       background-image: url(../img/bgcimgs.jpg);
       background-size: cover;
       background-repeat: no-repeat;
}
select {
       -webkit-appearance: none;
       -moz-appearance: none;
       appearance: none;
       background-color: white;
       background-image: none;
       padding: 5px 10px; /* Thêm padding để tạo không gian cho phần tử select */
       border: 1px solid #ccc;
       border-radius: 1em;
   }
.textlogo{
       display: flex;
       justify-content: center;
}

.form-container {
       height: 25em;
       border-radius: 5em;
       width: 25em;
       margin: 5em auto;
       padding: 20px;
       border: 1px solid #ccc;
       box-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
       background-color: #22c1c3;
       
   }
.form-container {
       position: relative;
       width: 25em;
       height: 25em;
       display: flex;
       flex-direction: column;
       justify-content: end;
       padding: 12px;
       gap: 12px;
       border-radius: 8px;
       cursor: pointer;
       color: white;
     }
     
.form-container::before {
       content: '';
       position: absolute;
       inset: 0;
       left: -1.3em;
       margin: auto;
       width: 29em;
       height: 29em;
       border-radius: 10px;
       background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
       z-index: -10;
       pointer-events: none;
       transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
     }
     
.form-container::after {
       content: "";
       z-index: -1;
       position: absolute;
       inset: 0;
       background: linear-gradient(-45deg, #de4be0 0%, #37dadd 100% );
       transform: translate3d(0, 0, 0) scale(0.95);
       filter: blur(30px);
     }
.form-container:hover::after {
       filter: blur(30px);
     }
     
.form-container:hover::before {
       transform: rotate(-90deg) scaleX(1) scaleY(1);
     }
     
     
.input-group {
       
       margin-bottom: 15px;
   }
.input-group label {
       display: block;
       font-weight: bold;
       margin-bottom: 5px;
   }
.input-group input {
       width: 100%;
       padding: 8px;
       border: 1px solid #ccc;
       border-radius: 4px;
}
::placeholder{
       color: white;
}
.submit{
       display: flex;
       justify-content: center;
}
#submit{
       width: 4.5em;
       height: 1em;
       border: 1px solid black;
       border-radius: 1em;
       padding-left: 1em;
       padding-bottom: 0.3em;
       background-color: white;
       background: rgb(238,174,202);
       background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(226,176,206,1) 6%, rgba(224,176,207,1) 19%, rgba(219,176,208,1) 21%, rgba(214,177,210,1) 27%, rgba(206,178,213,1) 36%, rgba(196,180,216,1) 47%, rgba(194,180,217,1) 49%, rgba(189,181,219,1) 54%, rgba(182,182,221,1) 62%, rgba(174,183,224,1) 71%, rgba(170,184,226,1) 76%, rgba(162,185,229,1) 85%, rgba(155,186,231,1) 93%, rgba(148,187,233,1) 100%);
}
#submit:hover{
       cursor: pointer;
       border: 1px solid rgb(185, 73, 176);
       color: white;
       /* background-color: rgb(128, 99, 99); */
       /* box-shadow: 0 8px 50px #23232333; */
}
#submit:active{
       width: 4.2em;
       height: 0.8em;
}
#age{
       width: 2em;
       padding: 5px 10px; /* Thêm padding để tạo không gian cho phần tử select */
       opacity: 0.8px;
       border-radius: 1em;
       background-color: rgb(141, 136, 136,0.4);


}
#curtomer{
       width: 29em;
       border: 1px solid white;
       border-radius: 2em;
       background-color: rgb(141, 136, 136,0.4);

}
#quantity{
       width: 20em;
       border-radius: 2em;
       background-color: rgb(141, 136, 136,0.4);

}
#product-name{
       width: 29em;
       border: 1px solid white;
       border-radius: 2em;
       background-color: rgb(141, 136, 136,0.4);

}
#product-name:active{
       border: 1px solid white;
}
#product-name:hover{
       border: 1px solid aqua;
}
#curtomer:hover{
       border: 1px solid aqua;
}
#price{
       width: 30%;
       opacity: 0.7;
       border-radius: 2em;
       background-color: rgb(141, 136, 136,0.4);


.gioitinh option {
       background-color: transparent; /* Đặt màu nền trong suốt */
               /* Màu chữ để dễ đọc */
     }
           
}
.textage{color: black;}
.textproduct{
       color: black;
}
.textname{
       color: black;
       display: flex;
}
.textprice{
       color: rgb(0, 0, 0);

       margin-left: 13em;
}
.textbutton{
       display: flex;
       
}
.textgender{
       color: black;
       margin-left: 1.7em;
}

input:hover{
       border: 1px solid aqua;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
/* input[type=number] {
  -moz-appearance: textfield;
} */
